body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.orange-color{
    color: orange;
}
h1{
    font-size: 50px;
}
.flexibale-part{
    display: flex;
}
.header-part{
    width: 50%;
    padding: 7%;
}
.header-part img{
    width: 100%;
}
.header-part a{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}
.header{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
}
.main-part{
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.experience-item{
    width: 40%;
    margin: 5%;
    margin-left: 5%;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 40px gray;
}
#full-stack-developer{
    border-left: 7px solid tomato;
}
#baby-developer{
    border-left: 7px solid blue;
}
.experience{
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
}
footer{
    text-align: center;
    color: gray;
    padding-top: 100px;
}